#portfolio{
  display: flex;
  justify-items: center;
  margin:2rem;
  padding: 4rem;
  overflow: hidden;
}

.portSlides {
    display: flex;
    flex-wrap: wrap;
}

.portMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}