* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* changes box model so that borders and padding are no longer added to height and width */
    text-decoration: none;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

